{{>layouts/header}}


<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">TITLE</th>
            <th scope="col">CONTENT</th>
        </tr>
    </thead>
    <tbody>
        {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <th>{{title}}</th>
            <th>{{content}}</th>
        </tr>
        {{/articleList}}
    </tbody>
</table>


{{>layouts/footer}}